[Unit]
Description=Run 'natgeopod-downloader.service' six hourly and on boot

[Timer]
OnBootSec=10min
OnUnitActiveSec=6h

[Install]
WantedBy=timers.target
